{% extends 'app/template.html' %}
{% load static %} 
{% block content %}
        <!-- Page Header-->

        <header class="masthead">
            <!-- <img src="{% static 'img/post-bg.jpg' %}" alt=""> -->
            <!-- <img src="{% static 'img/home-bg.jpg' %}" alt=""> -->
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                {% for i in journal %}
                <div class="col-md-10 col-lg-8 col-xl-12">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="{% url 'post_details' i.id %}">
                            <h2 class="post-title">{{ i.title }}</h2>
                            <h3 class="post-subtitle">{{ i.subtitle }}</h3>
                        </a>
                        <div class="post-meta" style="display: flex;">
                            <p>PostedBy:</p>
                            <p class="post-author">{{ i.author }}</p>
                            <p class="post-data-published">{{ i.published_date }}</p>
                        </div>
                    </div>
                    <!-- Divider-->
                    <hr class="my-10" />
                {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>

{% endblock %}